img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}

/*custom style*/
.listing-item .item img{
    width: 100px;
    height: 100px;
}
.listing-table {
width: 800px;
}
.listing-table thead {    
border-bottom: 2px solid #777;
}
.listing-table thead th {
padding: 10px;
}
.listing-item tr {    
border-bottom: 1px solid #d7dded;
}
.listing-item tr td {
padding: 10px;
}
.action .qty-section {
    display: flex;
    float: left;
}
.action .qty-section #qty1 {
    width: 80px;
}
.action .qty-section input {
width: 40px;
height: 40px;
text-align: center;
}